/*
 *Name: Nirmiti Jhunjhunwala
 *UnityID: njhunjh
 *Date: 9/21/2024
 *Assignment: Website Design and Styling Independent Assignment
 *Description: CSS for styling the webpage for the music genre assignment
 */
 body {
    background-color: #f0f0f0; /* Ensure this is present */
}

.table-border {
    border: 2px solid #DECAFF;
    border-collapse: collapse;
}

#photo-styling {
    width: 200px;
    height:250px;
    border: 2px outset #008000;
    }
p { 
        font-family: 'Times New Roman', serif;
    font-size: 16px;
    color: #DECAFF;
    }
